body
{
  margin:0;
}
.homepage_row1{
 /*background-color: blue;*/
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.homepage_row1_left{
  /*background-color: rgb(184, 80, 6);*/
  width:40%;
  display: flex;
  flex-direction: row;
  padding-left:5%;
}
.homepage_row1_left_label_11{
  
  font-size: 1.4rem;
  justify-content: right;

}
.homepage_row1_left_label{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.homepage_row1_right{
width:55%;
display:flex;
justify-content:right;
align-items:center;
padding-right: 10%;
}
.homepage_row1_right button{
  background-color: rgba(69, 45, 153, 0.804);
  color:white;
  padding:10px 10px;
  border:none;
  border-radius:20px;
  margin-left:10px;
}
.homepage_row3 {
  display: flex;
  flex-direction: row;
  margin-left: 4%;
  width: 100%;
}
.homepage_row3_text{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin-right: 5px;
  width: 18%;
}
.homepage_row3_text img{
margin-bottom: 5px;
}
.homepage_row2
{
  background-color: blueviolet;
  padding:100px 20%;
}
.homepage_row2_inner{
  background-color: rgba(107, 41, 41, 0.097);
  padding: 20px 5%;
  display: flex;
  flex-direction:column;
}
.homepage_row2_inner_row1
{
  /*background-color: rgb(24, 24, 156);*/
  font-size:1.5rem;

}
.homepage_row2_inner_row2{
  font-size: 1.2rem;
}
.homepage_row2_inner_row3 {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  background-color: aliceblue;
}
.homepage_row2_inner_row3_col1,
.homepage_row2_inner_row3_col2,
.homepage_row2_inner_row3_col3{
  width:25%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.homepage_row2_inner_row3 button{
  width: 25%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border:none;
  color: aliceblue;
  font-size: large;
  background-color:rgb(78, 78, 238) ;
}
.homepage_row2_inner_row3 input,
.homepage_row2_inner_row3 select{
  width: 100%;
  box-sizing: border-box;
  border:none;
  outline:none;
  padding-top: 5px;
  padding-bottom: 5px;
}
.homepage_row2_inner_row3_col2{
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}
.homepage_row2_inner_row3_col1{
  padding-left: 10px;
}
.homepage_row2_inner_row4 {
  text-align: right;
  padding-top: 10px;
  }
 .homepage_row2_inner_row4 span{
color: blue;
 } 